<!DOCTYPE html>
<html>
  <head>
    <%-include("head")%>
  </head>
  <body class="bg-dark text-white">
    <%-include("navbar")%>
    <%-body%>
    <%-include("footer")%>
    <%-include("body")%>
  </body>
</html>
